.layout {
  font-family: BlinkMacSystemFont, 
  -apple-system, 
  "Segoe UI", 
  "Roboto", 
  "Oxygen", 
  "Ubuntu", 
  "Cantarell", 
  "Fira Sans", 
  "Droid Sans", 
  "Helvetica Neue", 
  "Helvetica", 
  "Arial", 
  sans-serif;
}

.content {
  text-align: center;
  margin-top: 20px;
}

.list-container {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;

  border: solid 2px #ccc; 
}

.message-answer {
  overflow-x: auto;
}

.answer-content {
  overflow-x: auto;
  overflow-y: hidden;

  width: fit-content;
  max-width: 5000px;
  height: fit-content;

  overflow-wrap: break-all;
  word-wrap: break-word;
  hyphens: auto;

  overflow: hidden;
}